body {
  margin: 0;  
  text-align: center;
}

h1 {
    margin: 0 auto;
    font-size: 60px;
}

.job-Skills {
   font-size: 25px;

}
p {
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
}

.top-container {
/* use color hunt for pallette DBE4C6 BBD6B8 */
background-color: #94AF9F;
height: 400px;
width: 100%;
padding: 20px;

}

.profile_Pic {
height: 100px;
width: 100px;
border: solid 5px;
display: inline-block;
margin: 50px 5px;
  }

.middle-container {
  background-color: #AEC2B6; 

}

.developer_Pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  
 
}

.project_Manager_Pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}

.process_Manfacturing_Pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;

} 

.software_Sales_Pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.security_Consultant_Pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;

} 

.full_Stack_Pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
     
}


.bottom-container {
   background-color: #94AF9F;

}