body {
  margin: 0;  
  text-align: center;
}

h1 {
    margin: 0 auto;
    font-size: 60px;  /* 100% = 16px. 60px/16 = 3.75rem */
    padding-top: 40px;
    font-weight: 4;
    /* color: #66BFBF; */
    color: blue;
}

h2 {
  font-weight: normal;
  color:#66BFBF;
}

h3 {
  color: #11999E 

}

a {
  color: #11999E

}

p {
    width: 50%;
    margin: 0 auto;
    font-weight: normal;
}

.top-container {
/* use color hunt for pallette DBE4C6 BBD6B8 */
background-color: #94AF9F;
height: 400px;
width: 100%;
padding: 20px;

}

.profile_Pic {
height: 100px;
width: 100px;
border: solid 5px;
display: inline-block;
margin: 50px 5px;
}

.middle-container {
  background-color: #AEC2B6; 
  
}

.developer {
  width: 50%;
  margin: 50px auto;
  text-align: left;

}

.developer_Pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.project_Manager {
  width: 50%;
  margin: 50px auto;
  text-align: right;
  
}

.project_Manager_Pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
    
}

.process_Manufacturing {
    width: 50%;
    margin: 50px auto;
    text-align: left;

}

.process_Manfacturing_Pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;

} 

.software_Sales {
    width: 50%;
    margin: 50px auto;
    text-align: right;

}

.software_Sales_Pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}

.security_Consultant {
    width: 50%;
    margin: 50px auto;
    text-align: left;

}

.security_Consultant_Pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;

} 

.full_Stack {
  width: 50%;
  margin: 50px auto;
  text-align: right;
}

.full_Stack_Pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
     
}


.bottom-container {
   background-color: #94AF9F;

}